# Unemployment & Education heatmaps (so far)

In [1]:
# Dependencies
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from uszipcode import SearchEngine

# Census API Key
c = Census(census_key, year=2015)

## Data Retrieval

In [11]:
# Run Census Search to retrieve data on all zip codes (2015 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B23025_005E", "B15003_002E", "B15003_017E", "B15003_022E", "B15003_023E",
                         "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E", "B25113_003E", "B25113_004E",
                         "B25113_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B23025_005E": "Unemployment Count",
                                      "zip code tabulation area": "Zipcode",
                                      "B15003_002E" : "Education None Count", "B15003_017E": "High School Count",
                                      "B15003_022E": "Bachelors Count", "B15003_023E": "Masters Count",
                                      "B15003_024E" : "Professional Count", "B15003_025E": "Doctorate Count",
                                      "B25113_003E" : "Median Gross Rent (2010-2014)",
                                      "B25113_004E": "Median Gross Rent (2000-2009)",
                                      "B25113_002E": "Median Gross Rent (moved in 2015 and later)"})

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add % of people with specific level of education (education none count/population)
census_pd["% of Pop with no education"] = 100 * \
    census_pd["Education None Count"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["% of Pop with high school"] = 100 * \
    census_pd["High School Count"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["% of Pop with college and higher"] = 100 * \
    (census_pd["Bachelors Count"].astype(int)+census_pd["Masters Count"].astype(int)+census_pd["Doctorate Count"].astype(int)+
     census_pd["Professional Count"].astype(int)) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Unemployment Rate","% of Pop with no education", "% of Pop with high school",
                       "% of Pop with college and higher", "Median Gross Rent (2010-2014)", "Median Gross Rent (2000-2009)", 
                       "Median Gross Rent (moved in 2015 and later)"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Unemployment Rate,% of Pop with no education,% of Pop with high school,% of Pop with college and higher,Median Gross Rent (2010-2014),Median Gross Rent (2000-2009),Median Gross Rent (moved in 2015 and later)
0,00601,17982.0,12.306751,2.535869,16.777889,11.633856,NaN,NaN,NaN
1,00602,40260.0,9.456036,2.372081,11.847988,14.677099,NaN,NaN,NaN
2,00603,52408.0,7.615250,1.934819,15.854450,15.749504,461.0,298.0,528.0
3,00606,6331.0,2.827357,2.969515,22.761017,7.186858,250.0,241.0,NaN
4,00610,28328.0,5.277464,1.330839,20.146145,10.240751,NaN,NaN,NaN

In [13]:
search = SearchEngine(simple_zipcode=True)

county_zip = []
state_zip = []
lat_zip = []
long_zip = []

for zip in census_pd['Zipcode']:
    zipcode = search.by_zipcode(zip)
    
    zipcode = zipcode.to_dict()
    
    county_zip.append(zipcode['county'])
    state_zip.append(zipcode['state'])
    lat_zip.append(zipcode['lat'])
    long_zip.append(zipcode['lng'])
    
census_pd['County'] = county_zip
census_pd['State'] = state_zip
census_pd['Latitude'] = lat_zip
census_pd['Longitude'] = long_zip

county_list = []

census_pd = census_pd[census_pd.State != 'PR']
census_pd = census_pd[census_pd.State != 'HI']

for county in census_pd['County']:
    full_name = county.split(' ')
    county_list.append(full_name[0])
    
census_pd['County'] = county_list

census_pd.head()

,Zipcode,Population,Unemployment Rate,% of Pop with no education,% of Pop with high school,% of Pop with college and higher,Median Gross Rent (2010-2014),Median Gross Rent (2000-2009),Median Gross Rent (moved in 2015 and later),County,State,Latitude,Longitude
131,01001,17438.0,3.675880,0.269526,20.030967,20.673242,945.0,863.0,1213.0,Hampden,MA,42.07,-72.63
132,01002,29780.0,4.361988,0.456682,5.050369,30.345870,1203.0,915.0,1403.0,Hampshire,MA,42.38,-72.52
133,01003,11241.0,8.451205,0.000000,0.000000,0.409216,NaN,NaN,NaN,Hampshire,MA,42.39,-72.53
134,01005,5201.0,4.345318,0.000000,24.975966,15.900788,920.0,915.0,NaN,Worcester,MA,42.42,-72.12
135,01007,14838.0,3.309071,0.107831,12.946489,27.982208,856.0,892.0,NaN,Hampshire,MA,42.30,-72.40

## Combine Data

In [14]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
foodpop_data_original = pd.read_csv(
    "Resources/Clean_data/foodpop_data.csv", dtype="object", encoding="utf-8")

# Visualize
print(len(foodpop_data_original))
foodpop_data_original.head()

3143

,Unnamed: 0,State,County,Population,People 1/2 Mile and More,People 1 Mile and More,People 10 Miles and More,People 20 Miles and More
0,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0
1,1,LA,Acadia,61773,44415.58912,32874.79307,625.9709598999999,0.0
2,2,VA,Accomack,33164,30163.649719999998,26847.70482,727.000007,0.0
3,3,ID,Ada,392365,299582.0814,137142.5048,209.47162619999997,1.931906998
4,4,IA,Adair,7682,5496.847853,4916.79045,605.0662874,0.0

In [15]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
murder_data_original = pd.read_csv(
    "Resources/Clean_data/murder_data.csv", dtype="object", encoding="utf-8")

lat_murder = []
lng_murder = []

for i in range (len(murder_data_original['City'])):
    
    location = search.by_city_and_state(murder_data_original['City'][i], murder_data_original['State'][i])
    try:
        zipcode = location[0]
        lat_murder.append(zipcode.lat)
        lng_murder.append(zipcode.lng)
    except IndexError:
        lat_murder.append('Nan')
        lng_murder.append('Nan')
        
    
murder_data_original['Latitude'] = lat_murder
murder_data_original['Longitude'] = lng_murder

# Visualize
print(len(murder_data_original))
murder_data_original.head()

79

,Unnamed: 0,State,City,Murders,Source,Population,"Murder Rate (per 100,000)",Latitude,Longitude
0,0,Illinois,Chicago,378,https://portal.chicagopolice.org/portal/page/p...,2720546.0,19.7,41.88,-87.62
1,1,Florida,Orlando,19,OPD,270934.0,26.9,28.54,-81.37
2,2,Tennessee,Memphis,114,MPD,655770.0,24.1,35.17,-90.07
3,3,Arizona,Phoenix,72,PPD,1563025.0,7.1,33.45,-112.08
4,4,Nevada,Las Vegas,90,http://www.lvmpd.com/Sections/Homicide/Homicid...,623747.0,20.0,36.17,-115.13

In [16]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
unemployment_data_original = pd.read_csv(
    "Resources/Clean_data/unemployment_data.csv", dtype="object", encoding="utf-8")

# Visualize
print(len(unemployment_data_original))
unemployment_data_original.head()

3149

,Unnamed: 0,State,County,Civilian labour force,Employed poulation,Unemployed population,Rate of Unemployment
0,2,AL,Autauga,25602.0,24272.0,1330.0,5.0
1,3,AL,Baldwin,87705.0,82843.0,4862.0,6.0
2,4,AL,Barbour,8609.0,7844.0,765.0,9.0
3,5,AL,Bibb,8572.0,8005.0,567.0,7.0
4,6,AL,Blount,24473.0,23152.0,1321.0,5.0

In [ ]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
rent_data_original = pd.read_csv(
    "Resources/Clean_data/rent_data.csv", dtype="object", encoding="utf-8")

lat_rent = []
lng_rent = []

for i in range (len(rent_data_original['City'])):
    result = search.by_city_and_state(rent_data_original['City'][i], rent_data_original['State'][i])
    
    try:
        zipcode = result[0]
        lat_rent.append(zipcode.lat)
        lng_rent.append(zipcode.lng)
    except IndexError:
        lat_rent.append('NaN')
        lng_rent.append('NaN')
    
rent_data_original['Latitude'] = lat_rent
rent_data_original['Longitude'] = lng_rent

rent_data_original.replace("$-", np.nan)
rent_data_original.dropna()

# Visualize
print(len(rent_data_original))
rent_data_original.head()

In [19]:
# Merge the two data sets along zip code
foodpop_unemployment_complete = pd.merge(
    foodpop_data_original, unemployment_data_original, how="left", left_on=["County", "State"], right_on=["County", "State"])

# Save the revised Data Frame as a csv
foodpop_unemployment_complete.to_csv(
    "Resources/Clean_data/foodpop_unemployment_complete.csv", encoding="utf-8", index=False)

# Visualize
foodpop_unemployment_complete.head()

,Unnamed: 0_x,State,County,Population,People 1/2 Mile and More,People 1 Mile and More,People 10 Miles and More,People 20 Miles and More,Unnamed: 0_y,Civilian labour force,Employed poulation,Unemployed population,Rate of Unemployment
0,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,9637.0,712.0,7.0
1,1,LA,Acadia,61773,44415.58912,32874.79307,625.9709598999999,0.0,1135,25858.0,24088.0,1770.0,7.0
2,2,VA,Accomack,33164,30163.649719999998,26847.70482,727.000007,0.0,2870,15877.0,15012.0,865.0,5.0
3,3,ID,Ada,392365,299582.0814,137142.5048,209.47162619999997,1.931906998,567,217052.0,209058.0,7994.0,4.0
4,4,IA,Adair,7682,5496.847853,4916.79045,605.0662874,0.0,808,4226.0,4089.0,137.0,3.0

In [30]:
# Merge the two data sets along zip code
census_data_complete = pd.merge(
    foodpop_unemployment_complete, census_pd, how="left", left_on=["County", "State"], right_on = ["County", "State"])

# Save the revised Data Frame as a csv
census_data_complete.to_csv(
    "Resources/bank_data_with_employment.csv", encoding="utf-8", index=False)

# Visualize
census_data_complete.head()

,Unnamed: 0_x,State,County,Population_x,People 1/2 Mile and More,People 1 Mile and More,People 10 Miles and More,People 20 Miles and More,Unnamed: 0_y,Civilian labour force,...,Population_y,Unemployment Rate,% of Pop with no education,% of Pop with high school,% of Pop with college and higher,Median Gross Rent (2010-2014),Median Gross Rent (2000-2009),Median Gross Rent (moved in 2015 and later),Latitude,Longitude
0,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,...,13005.0,4.452134,0.745867,22.045367,8.273741,493.0,446.0,NaN,34.20,-82.400
1,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,...,2487.0,7.760354,0.603136,21.833534,5.548854,563.0,562.0,NaN,34.10,-82.600
2,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,...,3078.0,6.562703,0.064977,20.012995,5.458090,770.0,541.0,NaN,34.40,-82.300
3,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,...,1697.0,1.767826,0.589275,11.962286,13.376547,718.0,386.0,NaN,34.31,-82.430
4,0,SC,Abbeville,25417,24360.33225,21510.19482,5176.769348,0.0,2360,10349.0,...,121.0,7.438017,2.479339,14.049587,0.000000,NaN,563.0,NaN,34.21,-82.648

## Heatmap test runs (unemployment and no education)

In [32]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [33]:
# Store 'Lat' and 'Lng' into  locations 
census_data_complete = census_data_complete.dropna()

locations = census_data_complete[["Latitude", "Longitude"]].astype(float)

In [34]:
unemployment_rate = census_data_complete["Unemployment Rate"].astype(float)


# Create an unemployment Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=unemployment_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
noeducation_percent = census_data_complete["% of Pop with no education"].astype(float)


# Create an unemployment Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=noeducation_percent, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
food_access = census_data_complete["People 1 Mile and More"].astype(float)


# Create an unemployment Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=food_access, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# ADD variable to plot here!!!
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
#poverty_rate = census_data_complete["Poverty Rate"].astype(float)

In [25]:
# # Create a poverty Heatmap layer
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius = 1)

# # Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

# fig.add_layer(heat_layer)

# fig

In [26]:
# unemployment_rate = census_data_complete["Unemployment Rate"].astype(float)


# # Create an unemployment Heatmap layer
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights=unemployment_rate, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius = 1)

# # Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

# fig.add_layer(heat_layer)

# fig

![Heatmap](../Images/heatmap.png)

In [37]:
# Store 'Lat' and 'Lng' into  locations
test2_pd = murder_data_original.copy()

test2_pd = test2_pd.dropna()

locations = test2_pd[["Latitude", "Longitude"]].astype(float)

# Convert bank rate to list
murder_rate = test2_pd["Murder Rate (per 100,000)"].tolist()

In [39]:
# Create bank symbol layer
murder_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=4,
    info_box_content=[f"Murder rate: {rate}" for rate in murder_rate]
)


fig = gmaps.figure()
fig.add_layer(murder_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Store 'Lat' and 'Lng' into  locations
test3_pd = rent_data_original.copy()

test3_pd = test3_pd.dropna()

locations_rent = test3_pd[["Latitude", "Longitude"]].astype(float)

# Convert bank rate to list
rent_rate = test3_pd["Average Rent"].tolist()

rent_data_original.dropna()

,Unnamed: 0,City,State,County,Average Rent,Latitude,Longitude
0,0,New York,NY,Queens,2978,40.75,-73.99
1,1,Los Angeles,CA,Los Angeles,3195,33.97,-118.25
2,2,Chicago,IL,Cook,1758,41.88,-87.62
3,3,Houston,TX,Harris,1490,29.75,-95.37
4,4,San Antonio,TX,Bexar,1115,29.48,-98.53
5,5,Philadelphia,PA,Philadelphia,1476,39.953,-75.165
6,6,Phoenix,AZ,Maricopa,1194,33.45,-112.08
7,7,Las Vegas,NV,Clark,1220,36.17,-115.13
8,8,San Diego,CA,San Diego,2342,32.72,-117.18
9,9,Dallas,TX,Dallas,1395,32.79,-96.8
11,11,Austin,TX,Travis,1460,30.27,-97.74
14,14,Indianapolis,IN,Marion,892,39.78,-86.11
15,15,Charlotte,NC,Mecklenburg,1228,35.23,-80.84
16,16,Fort Worth,TX,Tarrant,1389,32.76,-97.33
17,17,Columbus,OH,Franklin,1087,40.1,-83.01
18,18,Tucson,AZ,Pima,1044,32.22,-110.97
19,19,Louisville,KY,Jefferson,934,38.25,-85.75
20,20,El Paso,TX,El Paso,1126,31.76,-106.48
21,21,Detroit,MI,Wayne,750,42.35,-83.06
22,22,Orlando,FL,Orange,1301,28.54,-81.37
23,23,Denver,CO,Denver,1968,39.75,-105
24,24,Seattle,WA,King,2259,47.61,-122.33
25,25,Memphis,TN,Shelby,876,35.17,-90.07
26,26,Boston,MA,Suffolk,2617,42.358,-71.064
27,27,Washington,DC,District of Columbia,2509,38.91,-77.02
28,28,Nashville,TN,Davidson,1515,36.17,-86.78
29,29,Portland,OR,Multnomah,1724,45.51,-122.69
30,30,Sacramento,CA,Sacramento,1286,38.58,-121.49
31,31,Baltimore,MD,Baltimore City,1359,39.29,-76.62
32,32,Milwaukee,WI,Milwaukee,1032,43.04,-87.89
...,...,...,...,...,...,...,...
1600,1600,Tequesta,FL,Palm Beach,$-,Nan,Nan
1601,1601,Vass,NC,Moore,$-,35.2,-79.2
1602,1602,Lauderdale-by-the-Sea,FL,Broward,$-,28.92,-82
1603,1603,Golden Lakes,FL,Palm Beach,$-,27.98,-81.75
1604,1604,Century Village,FL,Palm Beach,$-,30.9,-87.3
1605,1605,Surfside,FL,Miami-Dade,$-,Nan,Nan
1606,1606,Flagler Beach,FL,Flagler,$-,29.47,-81.14
1607,1607,Siesta Key,FL,Sarasota,$-,Nan,Nan
1608,1608,Bay Harbor Islands,FL,Miami-Dade,2037,Nan,Nan
1609,1609,Glasgow Village,MO,Saint Louis,$-,39.2,-92.9
1610,1610,Highland Beach,FL,Palm Beach,$-,Nan,Nan
1611,1611,Loughman,FL,Polk,$-,Nan,Nan
1612,1612,Fate,TX,Rockwall,$-,Nan,Nan
1613,1613,Hypoluxo,FL,Palm Beach,$-,Nan,Nan
1614,1614,Carefree,AZ,Maricopa,$-,Nan,Nan
1615,1615,Longboat Key,FL,Sarasota,$-,27.39,-82.64
1616,1616,Miromar Lakes,FL,Lee,$-,Nan,Nan
1617,1617,Bal Harbour,FL,Miami-Dade,$-,28.09,-82.77
1618,1618,Bridgehampton,NY,Suffolk,$-,Nan,Nan
1619,1619,Montauk,NY,Suffolk,$-,41.04,-71.94
1620,1620,Westhampton,NY,Suffolk,$-,40.83,-72.68
1621,1621,Sag Harbor,NY,Suffolk,$-,40.99,-72.32
1622,1622,Westhampton Beach,NY,Suffolk,$-,40.82,-72.68
1623,1623,Shelter Island,NY,Suffolk,$-,Nan,Nan
1624,1624,Summerland Key,FL,Monroe,$-,24.7,-81.3
1625,1625,Justin,TX,Denton,$-,33.1,-97.3
1626,1626,Amagansett,NY,Suffolk,$-,Nan,Nan
1627,1627,Quogue,NY,Suffolk,$-,Nan,Nan
1628,1628,South Palm Beach,FL,Palm Beach,$-,26.7,-80
1629,1629,Wainscott,NY,Suffolk,$-,Nan,Nan

In [38]:
# Create bank symbol layer
rent_layer = gmaps.symbol_layer(
    locations_rent, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Avg Rent: {rate}" for rate in rent_rate]
)


fig = gmaps.figure()
fig.add_layer(rent_layer)

fig

InvalidPointException: nan is not a valid latitude. Latitudes must lie between -90 and 90.

![Bank Map](../Images/bank_map.png)

In [29]:
# # Create a combined map
# fig = gmaps.figure()

# fig.add_layer(heat_layer)
# fig.add_layer(bank_layer)

# fig

![Combined Map](../Images/final_map.png)